@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

:root {
  --black-color: #000000;
  --light-grey-color: #FBFBFB;
  --grey-color: #F5F5F7;
  --medium-dark-grey-color: #D6D6D6;
  --dark-grey-color: #DDDDDD;
  --white-color: #FFFFFF;
  --background-grey-color: #676767;
  --red-color: #CE0033;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
}

body, p {
  margin: 0
}

body {
  display: flex;
  background-color: var(--grey-color);
}

p {
  display: inline-block;
}

.mt-6 {
  margin-top: 6px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-44 {
  margin-top: 44px;
}

.main-container {
  width: 1280px;
  max-width: 100%;
  margin: 80px auto;
}

.add-invoice-container, table {
  width: 100%;
  border: 1px solid var(--dark-grey-color);
}

.add-invoice-container {
  display: flex;
  flex-direction: column;
  padding: 44px;
  border-radius: 8px;
  background: var(--white-color);
}

.add-invoice-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  justify-content: space-between;
  align-items: end;
}

.invoice-details-container, .invoice-list-container {
  width: 100%;
  margin-top: 44px;
  padding: 44px;
  border-radius: 8px;
  border: 1px solid var(--dark-grey-color);
  background: var(--white-color);
}

.invoice-list-container table tbody tr td button {
  border: 0;
  color: var(--red-color);
  background-color: transparent;
  font-weight: 500;
}

.invoice-list-container table tbody tr td button:hover, .primary-button:hover, .secondary-button:hover {
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-label, .item-container-header p {
  font-size: 14px;
  line-height: 20px;
}

.input-field, .input-select {
  font-size: 14px;
}

.input-field, .input-select, .primary-button, .secondary-button {
  width: 100%;
  height: 44px;
  border-radius: 8px;
}

.input-field, .input-select {
  border: 1px solid var(--medium-dark-grey-color);
  background: #fff;
  padding: 10px 14px;
}

.primary-button, .secondary-button {
  font-weight: 500;
  font-size: 14px;
  border: 0;
}

.disabled-button, .primary-button {
  background-color: var(--red-color);
  color: var(--white-color);
}

.disabled-button {
  background-color: var(--background-grey-color);
}

.secondary-button {
  background-color: rgba(206, 0, 51, .1);
  color: var(--red-color);
}

.disabled-button:hover {
  cursor: not-allowed;
}

table {
  table-layout: fixed;
  border-radius: 5px;
  border-spacing: 0;
  overflow: hidden;
}

td, th {
  height: 44px;
  padding-left: 24px;
  border-bottom: 1px solid var(--dark-grey-color);
}

th {
  background-color: var(--light-grey-color);
  text-align: left;
  color: var(--background-grey-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

td {
  font-size: 14px;
}

tr:last-of-type td {
  border: 0 !important;
}

.item-container {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

.item, .item-container-header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.item-container-header p {
  width: 100%;
  flex: 1
}

.item {
  margin-top: 18px
}

.item-container div:nth-of-type(2) {
  margin-top: 0
}

.add-client-dialog {
  padding: 24px;
  width: 400px;
  border: 0;
  border-radius: 12px
}

dialog::backdrop {
  background-color: var(--black-color);
  opacity: 0.7;
}

.action-buttons-container {
  display: flex;
  gap: 12px;
}

.invoice-details-total-container {
  width: 240px;
  height: auto;
  margin: 44px 0 0 auto;
}

.invoice-details-total-header, .invoice-details-total-value {
  display: flex;
  height: 44px;
  border: 1px solid var(--dark-grey-color);
  padding: 12px 24px;
  align-items: center;
}

.invoice-details-total-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--light-grey-color);
}

.invoice-details-total-header p {
  font-size: 12px;
  font-weight: 500;
  color: var(--background-grey-color);
}

.invoice-details-total-value {
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.invoice-details-total-value p {
  font-size: 14px;
}